{% extends 'master.twig' %}

{% block content %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ page.title }}
                    <small> <a href="#"></a>
                    </small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.twig">Главная</a>
                    </li>
                    <li class="active">{{ page.title }}</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <hr>

                <!-- Date/Time -->
                <p><i class="fa fa-clock-o"></i> Posted on August 24, 2013 at 9:00 PM</p>



                {{ page.body }}
            </div>
        </div>
        <hr>
    </div>


{% endblock content %}